*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: lavender;
}


h1{
    background-color: violet;
    color: white;
    padding: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 8rem;
    
}


.choice{
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: lightcyan;
    
}

.choice:hover{
    cursor: pointer;
    background-color: aquamarine;
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    padding: 2rem;
    border-radius: 50%;
}


.score-card{
    margin-top: 1rem;
    font-size: 2.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30rem;
}

.msg-container{
    margin-top: 2rem;
}

#msg{
    background-color: darkslateblue;
    padding: 1rem;
    font-size: 1.5rem;
    display: inline;
    border-radius: 1rem;
    color: white;
    
}

